[Desktop Entry]
Type=Application
Name=Install VV OS
Exec=foot -e sudo bash vv-live-installer.sh
Icon=vv-os-icon
Terminal=false
Categories=System;
StartupWMClass=vv-installer
